<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokédex
    </ion-title>
    <ion-progress-bar type="indeterminate" color="medium" *ngIf="loading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="filterList($event)" show-clear-button="never"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-item>
          <ion-label>Generation:</ion-label>
          <ion-select [(ngModel)]="selectedOption" (ionChange)="loadPokemon()" interface="popover">
            <ion-select-option value="1">1 - Kanto</ion-select-option>
            <ion-select-option value="2">2 - Johto</ion-select-option>
            <ion-select-option value="3">3 - Hoenn</ion-select-option>
            <ion-select-option value="4">4 - Sinnoh</ion-select-option>
            <ion-select-option value="5">5 - Unova</ion-select-option>
            <ion-select-option value="6">6 - Kalos</ion-select-option>
            <ion-select-option value="7">7 - Alola</ion-select-option>
            <ion-select-option value="8">8 - Galar</ion-select-option>
            <ion-select-option value="9">9 - Paldea</ion-select-option>

          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size-xs="12" size-sm="12" size-md="6" size-lg="3" size-xl="3" *ngFor="let item of filterPokemon">
        <ion-card (click)="openDetailsModal(item.id)">
          <ion-card-header>
            <ion-card-title>{{item.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <img src={{item.image}} alt="" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
