<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokédex
    </ion-title>
    <ion-progress-bar type="indeterminate" color="medium" *ngIf="loading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="filterList($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center" size-xs="12" size-sm="12" size-md="6" size-lg="3" size-xl="3" *ngFor="let item of filterPokemon">
        <ion-card (click)="openDetailsModal(item.id)">
          <ion-card-header>
            <ion-card-title>{{item.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <img src={{item.image}} alt="" />
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
